@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo: #f5ebdc;
  --laranja: orange;
  --marron: #502314;
}

body {
  background-color: var(--fundo);
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ===== CONTAINER LOGIN ===== */
#container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* permite quebrar no celular */
  background: transparent;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 900px;
  width: 90%;
  text-align: center;
}

#container-login img {
  width: 250px;
  height: auto;
  margin: 0 auto 20px auto;
}

.login-content {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

#container-login h1 {
  color: var(--marron);
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 1.8rem;
}

/* ===== FORMULÁRIO ===== */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha tudo à esquerda */
  gap: 5px; /* diminui espaço entre label e input */
  width: 100%;
  max-width: 350px;
  margin: 0 auto; /* centraliza o bloco inteiro */
}

label {
  color: var(--marron);
  font-weight: bold;
  margin-bottom: 3px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid var(--marron);
  border-radius: 8px;
  font-size: 15px;
  background-color: var(--marron);
  color: var(--fundo);
  outline: none;
  transition: 0.2s;
}

input::placeholder {
  color: var(--fundo);
  opacity: 0.8;
}


input:focus {
  border-color: var(--laranja);
  box-shadow: 0 0 5px var(--laranja);
}

form a {
  color: var(--marron);
  font-weight: bold;
  margin-top: 20px;
  
  transition: 0.2s;
}

form a:hover {
  color: var(--laranja);
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
  #container-login {
    flex-direction: column;
    padding: 25px;
  }

  #container-login img {
    width: 200px;
  }

  #container-login h1 {
    font-size: 1.6rem;
  }

  input {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  #container-login img {
    width: 160px;
  }

  #container-login h1 {
    font-size: 1.4rem;
  }

  input {
    font-size: 14px;
  }
}
